# {{ ansible_managed }}
[Unit]
Description=Timer unit which triggers {{ _node_exporter_script.file_src | basename }} service unit.
Documentation=https://gitlab.com/dvonessen/ansible-role-node-exporter

[Timer]
OnCalendar={{ _node_exporter_script.on_calendar | default(minutely)}}
AccuracySec=1min

[Install]
WantedBy=timers.target
