# {{ ansible_managed }}
[Unit]
Description=Service unit to trigger script {{ _node_exporter_script.file_src | basename }}
Documentation=https://gitlab.com/dvonessen/ansible-role-node-exporter

[Service]
Type=oneshot
User={{ _node_exporter_script.user | default(node_exporter_user) }}
ExecStart={{ node_exporter_install_dir }}/scripts/{{ _node_exporter_script.command }}
