# {{ ansible_managed | comment }}

tls_server_config:
  {% if node_exporter_enable_tls -%}
  cert_file: {{ _node_exporter_crt.filename }}
  key_file: {{ _node_exporter_private_key.filename }}
  {% endif -%}
  {% if node_exporter_tls_server_config | length > 0 -%}
  {{ node_exporter_tls_server_config |to_nice_yaml(indent=2) }}
  {%- endif%}

http_server_config:
  {% if node_exporter_http_server_config | length > 0 -%}
  {{ node_exporter_http_server_config | to_nice_yaml(indent=2) }}
  {% endif %}

basic_auth_users:
  {% for user, password in node_exporter_basic_auth_users.items() -%}
  {# FIXME password_hash wit bcrypt produces warning
  # https://github.com/ansible/ansible/issues/36129 #}
  {{ user }}: {{ password | string | trim | password_hash('bcrypt', ('abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890' | shuffle(seed=inventory_hostname) | join)[:21] + ('Oeu' | shuffle(seed=inventory_hostname) | join)[1], rounds=9) }}
  {% endfor -%}
